.num_button {
    height: 50px;
    width:  50px;
    margin: 5px 5px 5px 5px;
}

.display input{
    text-align: right;
    padding:    5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-size:  20px;
    width:  180px;
}

.calc-container{
    position:   absolute;
    left-margin: auto;
    height: 300px;
    width:  200px;
    border: 1px solid gray;
}